.bullet__item {
  display: inline-block;
  width: 10em;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.bullet__item--title {
  text-align: center;
}

.bullet__item--link {
  text-decoration: none;
}